In [2]:
import pandas as pd

input_data = {"user_id": [1, 2, 3, 4, 5, 6],
              "name": ["Winston", "Jonathan", "Annabelle", "Sally", "Marwan", "David"],
                "mail": ["winston@leetcode.com", "jonathanisgreat", "bella-@leetcode.com", "sally.come@leetcode.com", "quarz#2020@leetcode.com", "david69@gmail.com"]}

In [11]:
users = pd.DataFrame(input_data)
print(users)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
1        2   Jonathan          jonathanisgreat
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com
4        5     Marwan  quarz#2020@leetcode.com
5        6      David        david69@gmail.com

In [29]:
def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    # users with valid emails in the "mail" column
    pattern = r'^[a-zA-Z0-9_.-]+@leetcode\.com$'
    new_df = users[(users["mail"].str[0].str.isalpha())]
    new_new_df = new_df[new_df["mail"].str.contains(pattern)]
    return new_new_df

valid_emails(users)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

In [45]:
import pandas as pd

patients = {"patient_id": [1,2,3,4,5],
            "patient_name": ["Daniel", "Alice", "Bob", "George", "Alain"],
            "conditions": ["YFEV COUGH", "", "DIAB100 MYOP", "ACNE DIAB100", "SDIAB101"]}

patients_df = pd.DataFrame(patients)

In [41]:
patients_df

   patient_id patient_name    conditions conditions_split
0           1       Daniel    YFEV COUGH    [YFEV, COUGH]
1           2        Alice                             []
2           3          Bob  DIAB100 MYOP  [DIAB100, MYOP]
3           4       George  ACNE DIAB100  [ACNE, DIAB100]
4           5        Alain      SDIAB101       [SDIAB101]

In [ ]:
# grab only patients who have DIAB1 in their conditions

In [42]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    pattern = r'\bDIAB1'
    new_df = patients[patients["conditions"].str.contains(pattern, regex=True)]
    return new_df

In [46]:
find_patients(patients_df)

   patient_id patient_name    conditions
2           3          Bob  DIAB100 MYOP
3           4       George  ACNE DIAB100